.App {
  text-align: center;
  display:flex;
  justify-content: center;
}

.errorMsg{
  color:red;
  /* display: none; */
}

/* input:invalid[focused="true"] ~ .errorMsg{
  display:block;
} */

.sidebar{
  border: 1px solid black;
  width: 20%;
  height: 100vh;
  background-color: white;
}

.requireMsg{
  color:red
}

/* @media only screen and (max-width: 1600px) {
  .renderData{
    margin-left: 20.5%;
    margin-top: -70%;
  }
} */
.renderData{
  margin-left: 20.5%;
  margin-top: -60%;
}
button{
  margin: 2px;
}